/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */


*{margin:0;padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit;
                    font-style: inherit; font-size: 100%; font-family: inherit;
                    vertical-align: baseline; }
:focus { outline: 0; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
tr, td, th{ border: 1px black solid; padding: 5px; }
caption, th, td { text-align: left; font-weight: normal; vertical-align:middle;}
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img, a:hover img { border:none; }
h1,h2,h3,h4,h5,h6 { margin:0px 0px 10px 0px; padding:0px;
                    font-weight:normal; font-family: Cabin-Regular, Verdana,Arial,Helvetica,sans-serif; }
a { text-decoration:none; cursor:pointer; outline:none;color:#747474;}
a:hover { text-decoration:none;color: black }
.clear { clear:both; margin:0px; padding:0px; height:0px; line-height:0; font-size:0; }
.left { float:left; width:auto; border:none; }
.right { float:right; }
.center { text-align:center; }
.text-right { text-align:right; }
.text-left { text-align:left!important; }
strong{font-weight:bold;}
small{font-size:10px; color:white;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility:hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height:1%; }
html, body {height: 100%;}
h3 {font-size: 20px;}
p { font-size: 13px; line-height: 1.6em; margin-bottom: 13px;}
body {
  font: 12px Cabin-Regular, Verdana, arial, sans-serif;
/*  background: url("../assets/bg_wood.jpg") no-repeat scroll #000;
  width: 1200px;
  margin: 0 auto;
  color: #ECC352;*/
  height: auto;
  background-color: #fff;
  color: #747474;
}

@font-face {
  font-family:"Cabin-Regular";
  src: url("fonts/Cabin-Regular.otf") format("opentype");
  font-family:"Oleo Script";
  src: url("fonts/OleoScript-Regular.ttf") format("opentype");
}

#header img, .center-header, #header form, #header ul li, #nav-menu ul li, .twit, .twit p,
.designer, .designer p , .store p, #content-left {float: left;}

#container{
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  padding-top: 35px;
}

#container .header{
  width: 900px;
  margin: 0 auto;
  height: 200px;
}

#container .header .logo{
  width: 570px;
  float: left;
}

#container .header .h_contact_us_image{
  width: 50px;
  float: left;
  margin-top: 55px;
}

#container .header .h_contact_us_text{
  width: 280px;
  float: left;
  font-size: 17px;
  margin-top: 55px;
  text-align: right;
}

#container .header .h_contact_us_text span{
  font-size: 13px;
}

#container .content{
  width: 900px;
  margin: 0 auto 50px;
  min-height: 350px;
}

#container .footer{
  width: 1000px;
  min-height: 80px;
  background: none repeat scroll 0 0 #FAFAFA;
}

#container .footer div.copyright{
  width: 570px;
  margin: 0 10px 0 50px;
  min-height: 50px;
  padding-top: 25px;
  float: left;
}

#container .footer .footer-menu{
  width: 330px;
  float: left;  min-height: 50px;
  padding-top: 25px;
}

#container .footer .footer-menu ul li {
  border-right: 1px solid #000000;
  float: left;
  line-height: 10px;
  margin-right: 5px;
  padding-right: 5px;
  text-transform: uppercase;
}

.no-border{
  border-right: none!important;
  padding-right: 0!important;
  margin-right: 0!important;
}

/********** NAV MENU ***************************/


#nav-menu {
  float:left;
  height:80px;
  width: 900px;
  margin-top:30px;
/*  border-bottom: 1px solid #ECC352;*/
}
#nav-menu ul li {
  position:relative;
	min-height: 1px;
	vertical-align: bottom;
  width: 179px;
/*  width: 179px;*/
  text-align: center;
  border-left: 1px solid green;
/*  background: linear-gradient(to bottom, #9aff72 0%, #9afd62 27%, #9aed52 70%, #9add42 80%,
              #9acd32 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
/*  background: linear-gradient(to bottom, #04B2EE 0%, #03ABEC 27%, #0295E5 70%, #0490E7 80%,
              #038AE4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
/*  background: linear-gradient(to bottom, #04EEB2 0%, #03ECAB 27%, #02E595 70%, #04E790 80%,
              #03E48A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: linear-gradient(to bottom, #ff908a 0%, #f65c54 27%, #dd281c 70%, #dc261c 80%,
              #db241c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#nav-menu ul li.first-child {
  border-left: medium none;
}

#nav-menu ul li a, #nav-menu ul li#list-product span{
  padding: 20px 0;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  color: white;
  cursor: pointer;
}

#nav-menu ul li.sub-menu {
  width: 173px;
  height: 30px;
  text-align: left;
  background: #0F8EBB;
}

#nav-menu ul.first li:hover, #nav-menu ul.first li:hover a {
/*  background: linear-gradient(to bottom, #0C629D 0%, #0A69A1 21%, #0D6CA4 27%,
              #0B73A8 41%, #0F83B4 71%, #0F8EBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    background: linear-gradient(to bottom, #332391 0%, #3a2a9a 21%, #3f2fa7 27%,
                #4133b1 41%, #442ec9 71%, #553afb 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
/*  background: linear-gradient(to bottom, #BDECB6 0%, #BDECC6 27%, #BDECD6 70%, #BDECE6 80%, #BDECF6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
}

/*#nav-menu ul li.sub-menu:hover, #nav-menu ul li.sub-menu:hover a {
  background: #0F8EBB;
  background: linear-gradient(to bottom, #BDECB6 0%, #BDECC6 27%, #BDECD6 70%, #BDECE6 80%, #BDECF6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}*/

#nav-menu ul ul{
	position: absolute;
	width: 178px;
	display: none;
	z-index: 1000;
/*	top: 73px;
	margin:-1em 0 0 -1em;
  left: 17px;*/
  font-size: 17px;
}

#nav-menu ul ul li.sub-menu a{
  padding: 7px 0 10px 7px;
  background: #4133b1!important;
}

#nav-menu ul ul li.sub-menu a:hover, #nav-menu ul ul li.sub-menu:hover{
  background: #fc5c58!important;/*merah*/
}

#nav-menu ul ul li{	float: none !important;	border-right: 0px !important;}

.subtext{
  width: 110px;
}

/********** END NAV MENU ***************************/

.banner {
  height: 370px;
  margin-bottom: 40px;
  width: 900px;
  z-index: 1;
}

.description, .best-seller, .our-client{
  width: 900px;
  height: auto;
  float: left;
}

.best-seller h4, .our-client h4{
  border-bottom: 1px solid #E3EEF3;
  color: #70B3D0;
  font-family: 'Oleo Script',cursive;
  font-size: 40px;
  font-weight: 400;
  line-height: 38px;
  margin: 19px 0 14px;
}

 .description-box, .product-box{
  width: 240px;
  height: 250px;
  margin: 0 27px 15px 0;
  border: 1px solid #EFEEEE;
  padding: 20px;
  float: left;
}

.description-box{
  height: 150px!important;
  color: white;
}

.desc-title{
  width: 226px;
  font-size: 26px;
  float: left;
  height: 30px;
  padding: 7px;
}

.desc-content{
  width: 226px;
  float: left;
  height: 85px;
  padding: 14px 7px 0;
}

.red{
 background-color: #FB7033;
}

.dark-red{
 background-color: #c95a29;
}

.blue{
 background-color: #0EAAF6;
}

.dark-blue{
 background-color: #0b88c5;
}

.green{
 background-color: #83BA3C;
}

.dark-green{
 background-color: #699530;
}

.no-margin{
  margin-right: 0!important;
}

.product-box .product-image{
  width: 240px;
  height: 190px;
  overflow: hidden;
  border: 1px solid #EFEEEE;
  position: relative;
}

.product-box .product-image img{
  margin: 20px;
  width: 200px;
  height: 150px;
}

.product-box .product-image:hover{
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.product-box .product-info{
  padding: 20px 0 0 0;
  width: 240px;
  height: 40px;
  overflow: hidden;
}

.new-label {
    background: none repeat scroll 0 0 #FFDD65;
    color: #CD7008;
    display: block;
    font: 700 14px/12px "Roboto",sans-serif;
    left: -44px;
    padding: 11px 0 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    transform: rotate(-45deg);
    width: 140px;
    z-index: 1;
}

.sale-label {
    background: none repeat scroll 0 0 #FC726D;
    color: #FFFFFF;
    display: block;
    font: 700 14px/12px "Roboto",sans-serif;
    padding: 11px 0 12px;
    position: absolute;
    right: -44px;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    transform: rotate(45deg);
    width: 140px;
    z-index: 1;
}

/**************************** inner content *********************************/
.inner-content{
  width: 860px;
  min-height: 500px;
  float: left;
  margin: 10px 0 0 20px;
}

.inner-content-title{
  width: 900px;
  height: 75px;
  float: left;
  font-size: 40px;
  color: #70B3D0;
  font-family: 'Oleo Script',cursive;
}

.inner-content-info{
  width: 860px;
  min-height: 340px;
  float: left;
  margin-top: 10px;
}

/****************************** CONTCT US ************************************/
.contact-left, .contact-right{
  float: left;
  width: 450px;
  margin-top: 20px;
}

.company-information{
  float: left;
  width: 420px;
  margin-right: 30px;
}

.company-information .ym{
  width:350px;
  height: 25px;
  margin:25px 0 10px 0;
}

.company-information .gtalk{
  width:350px;
  height:40px;
  margin:0 0 10px 0;
}

.field{
  float: left;
  width: 440px;
  height: 30px;
  margin-bottom: 10px;
}

.contact-us-input-title{
  width: 115px;
  margin-right: 5px;
  float: left;
}

.contact-us-input-box{
  width: 300px;
  float: left;
}

.contact-us-input-box input[type="text"] {
  border: 1px solid #747474;
  border-radius: 5px 5px 5px 5px;
  font-size: 13px;
  height: 25px;
  width: 270px;
}

.contact-us-input-box textarea {
  border: 1px solid #747474;
  border-radius: 5px 5px 5px 5px;
  width: 270px;
  height: 160px;
}

.contact-us-input-box input[type="submit"] {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 19px;
  font-weight: bold;
  margin: 10px 15px 0 0;
}

.product-detail-image-box, .product-detail-info{
  width: 860px;
  height: 675px;
  float: left;
/*  margin-right:25px;*/
  z-index: 1000;
}

.fake{
  position: absolute;
}

.product-detail-product-name{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-detail-info{
  text-align: justify;
  height: auto!important;
}

.list-client{
  list-style: circle inside none;
  font-size: 14px;
}

.logo-box{
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 30px;
}

.see_all_client{
  margin-top: 15px;
  width: 880px;
  height: 50px;
  text-align: right;
  float: left;
}




















.product-detail-primary-image{
  width: 320px;
  height: 240px;
  margin: 0 10px 10px 0;
  border: 1px solid #ECC352;
  float: left;
}

.product-detail-small-image{
  width: 100px;
  height: 75px;
  margin: 0 7px 10px 0;
  border: 1px solid #ECC352;
  float: left;
}

.last{
  margin: 0 0 10px 0;
}


.paginate{
  width: 740px;
  height: 20px;
  float: left;
  margin-top:10px;
}

/*
.contact-us{
  float: left;
  width: 390px;
}*/


.input-title{
  width: 95px;
  margin-right: 5px;
  float: left;
}

.input-box{
  width: 290px;
  float: left;
}

.news{
  width: 740px;
  height: 150px;
  float: left;
  margin-top: 10px;
  border-bottom: 2px solid #8E8778;
}

.news-image{
  width: 200px;
  height: 140px;
  float: left;
  margin: 0 10px 10px 0;
}

.news-content{
  width: 530px;
  height: 150px;
  float: left;
}

.news-content .news-title{
  width: 540px;
  float: left;
  font-size:25px;
}

.news-content .news-date{
  width: 540px;
  float: left;
  font-size:12px;
}

.news-content .news-short-content{
  width: 540px;
  float: left;
  margin-top: 5px;
}

.news-content .news-short-content a{
  width: 530px;
  float: left;
  text-align: right;
}

.news-detail-image{
  width: 340px;
  height: 260px;
  float: left;
  margin: 0 15px 15px 0;
  padding: 10px;
  border: 1px solid #B8925C;
}

.news-detail-content{
  position: relative;
}

.news-detail-content .news-detail-title{
  font-size:25px;
}

.news-detail-content .news-detail-date{
  font-size:12px;
  margin-bottom: 10px;
}



.social-networking{
  width: 740px;
  height: 100px;
  float: left;
  margin-top: 20px;
}

.social-networking .fb, .social-networking .twitter{
  float: left;
  width: 40px;
}

.social-networking .counter{
  float: right;
  width: 300px;
  font-size: 18px;
  text-align: right;
}

.slider .slide{
  padding: 5px;
  border: 1px solid #ECC352;
}

.notice{
  color: RoyalBlue;
  font-size: 15px;
  margin-top:10px;
  background-color: lightblue;
}

.error, .alert{
  color: red;
  font-size: 15px;
  margin-top:10px;
  background-color: pink;
}

#error_explanation, #errorExplanation {
  width: 500px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 30px;
  background-color: #f0f0f0;
}

#error_explanation h2, #errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 18px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p, #errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding-top:15px;
}

#error_explanation ul, #errorExplanation ul{
  font-size: 15px;
  list-style: square inside;
  color:#000000;
  margin-top:10px;
}

#error_explanation ul li, #errorExplanation ul li {
  margin-left:15px;
}

.field_with_errors {
  border: 1px solid  #ff3333;
}