<% content_for :javascript_includes do %>
  <%= javascript_include_tag  "jquery.bxslider" %>
  <%= stylesheet_link_tag  "jquery.bxslider" %>
<% end %>

<script type="text/javascript">
  (function($){
    $(window).load(function(){
        $("#content").mCustomScrollbar({
          set_width:"100%",
          scrollButtons:{
          enable:true
        },
        theme:"light-2"
      });
    });
  })(jQuery);
</script>

<div class="inner-content">
  <div class="inner-content-title">About Us</div>
  <div class="inner-content-info" id="content">
    <%= raw @about_us.content %>
  </div>
</div>